.c-about-us-heading {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 15vh;
}

.c-about-us-location-heading {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.c-about-us-location-content {
  flex-wrap: wrap;
  align-items: flex-start;
  display: flex;
}

.c-about-us-location-title {
  flex: 1 0 100%;
  margin-right: 20px;
}

.c-about-us-location-content p {
  flex: 1;
  max-width: 764px;
  margin-right: 125px;
}

.c-about-us-location-content img {
  max-width: 100%;
}

.c-about-us-transportation {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 15vh;
}

.c-about-us-transportion-tab {
  padding: 10px 20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #449732;
}

.c-about-us-transportation-content {
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  display: grid;
  gap: 20px;
  padding: 20px;
}
