.l-page-hero-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  height: 100vh;
}

.c-page-hero-image {
  position: relative;
}
.c-page-hero-headline {
  margin-top: 10rem;
  text-align: center;
}

.t-page-hero-headline-main {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.l-page-hero-columns {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 1rem;
}

.c-page-hero-pill-list {
  grid-template-columns: 1;
  display: grid;
  text-align: center;
}

.c-page-hero-pill-1,
.c-page-hero-pill-2,
.c-page-hero-pill-3 {
  margin-bottom: 10px;
}

.c-page-hero-badge img {
  width: 140px;
  height: auto;
}
